.portfolio {
    text-align: center;
}
.portfolio h2 {
    font-size: 4em;
    margin-top: 80px;
}

.portfolio p {
    max-width: 840px;
}
.content_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin: 80px 20px;
}
.content_wrap h3 {
    text-align: center;
    margin: 20px auto 0px;
    font-weight: 500;
}
.content_wrap p {
    color: #ccc;
    margin-top: 4px;
}
